/*
Course : TGD2251 Game Physics 
Session: Trimester 1, 2021/22 
ID and Name #1 : 1161101989 Neo Zhi Ming
Contacts #1 :  011-63090929 1161101989@student.mmu.edu.my
ID and Name #2 : 1181303316 Sia Jing Hui
Contacts #2 :  014-6424024 1181303316@student.mmu.edu.my
*/

@font-face {
    font-family: FF;
    src: url('font/FFFFORWA.ttf');
}